<header class="header-new">
{% comment %} LOGO {% endcomment %}
<div class="header-new__logo">
<p>Estilo a la medida</p>
</div>
{% comment %} LINKS {% endcomment %}
<nav class="header-new__nav">
<ul class="nav__gruop-list">
{% for linklist in linklists %}
  {% if linklist.handle == 'main-menu' %}
    {% assign mainMenuLinks = linklist.links %}
    {% for link in mainMenuLinks %}
      <li class="nav__list">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </li>
    {% endfor %}
  {% endif %}
{% endfor %}
</ul>
</nav>

{% comment %} ICONS {% endcomment %}

    <div class="header-new__icons">
        <a>
          <img src="{{ 'person.svg' | asset_url }}"/>
        </a>
        <a>
          <img src="{{ 'heart.svg' | asset_url }}"/>
        </a>
        <a>
          <img src="{{ 'cart.svg' | asset_url }}"/>
        </a>
        <a class="icon-menu">
          <img src="{{ 'bars-solid.svg' | asset_url }}"/>
        </a>

    </div>
</header>

